<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo Again</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="todo">
      <h1 class="title">TODO LIST</h1>
      <input v-model="addTodo" placeholder="Add todo here.."><button v-on:click="addItem()">Add</button></input>
      <ul>
        <li v-for="item in items">
          {{ item.todos }}
          <button v-on:click="deleteTodo(item)">Delete</button>
        </li>
      </ul>
    </div>
  </body>
  <script src="/vue.js"></script>
</html>
